body{
  margin:0;
  font-family:Arial,sans-serif;
}

.app-container{
  max-width:480px;
  margin:auto;
  min-height:100vh;
  background:#f3f4f6;
  position:relative;
}

.topbar{
  background:linear-gradient(135deg,#9333ea,#4f46e5);
  color:white;
  padding:30px 20px;
  border-bottom-left-radius:35px;
  border-bottom-right-radius:35px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.topbar h1{
  margin:0;
  font-size:36px;
  font-weight:bold;
}

.topbar p{
  margin-top:5px;
  opacity:.9;
}

#open-settings-btn{
  border:none;
  width:55px;
  height:55px;
  border-radius:50%;
  background:rgba(255,255,255,.2);
  color:white;
  font-size:22px;
}

.mood-container{
  padding:20px;
}

.mood-container p{
  color:#9ca3af;
  font-weight:bold;
}

.mood-buttons{
  display:flex;
  gap:10px;
  margin-top:10px;
}

.mood-btn{
  border:none;
  width:48px;
  height:48px;
  border-radius:50%;
  font-size:22px;
  background:white;
  box-shadow:0 2px 10px rgba(0,0,0,.08);
}

#chat-box{
  padding:20px;
  display:flex;
  flex-direction:column;
  gap:16px;
}

.ai-message{
  background:white;
  padding:18px;
  border-radius:20px;
  width:85%;
  box-shadow:0 2px 10px rgba(0,0,0,.08);
  color:#374151;
}

.user-message{
  background:linear-gradient(135deg,#9333ea,#7c3aed);
  color:white;
  padding:18px;
  border-radius:20px;
  width:85%;
  align-self:flex-end;
}

.input-area{
  position:fixed;
  bottom:90px;
  left:50%;
  transform:translateX(-50%);
  width:90%;
  max-width:430px;

  background:white;
  border-radius:999px;
  padding:10px;

  display:flex;
  align-items:center;

  box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.input-area input{
  flex:1;
  border:none;
  outline:none;
  font-size:18px;
  padding:10px;
}

#send-btn{
  width:55px;
  height:55px;
  border:none;
  border-radius:50%;
  background:linear-gradient(135deg,#9333ea,#7c3aed);
  color:white;
  font-size:20px;
}

.bottom-nav{
  position:fixed;
  bottom:0;
  left:50%;
  transform:translateX(-50%);

  width:100%;
  max-width:480px;

  background:white;

  display:flex;
  justify-content:space-around;

  padding:12px 0;

  box-shadow:0 -2px 15px rgba(0,0,0,.08);
}

.bottom-nav button{
  background:none;
  border:none;

  display:flex;
  flex-direction:column;

  align-items:center;

  color:#9ca3af;
}

.active-nav{
  color:#9333ea !important;
}
